
/* --------------------------------------
   Header
   -------------------------------------- */

.bg a img{
   width: 108px;
   height: 22px;
}


/*----------------------------------------
moreInfo
----------------------------------------*/

#moreInfo{
   background: black;
   padding-bottom: 20px;
}
#moreInfo .col-sm-6{
   padding-top: 20px;
}

/*---------------------------------------
Background
---------------------------------------*/
.bg{
    width: 100%;
   background: url("../images/bg.jpg") center no-repeat;
   background-repeat: no-repeat;
   background-size: cover;
}

/* --------------------------------------
   Features
   -------------------------------------- */

#features {
   text-align: center;
   padding-top: 20px;
}

#features img {
   margin: 0 0 20px;
}

/* --------------------------------------
   Footer
   -------------------------------------- */
footer{
   background-color: black;
   color: #eee;
   padding: 20px;
   margin-top: 20px;
}

footer li{
      list-style: none;
}

footer li a{
   color: #cfe0ef;
}

.copyright{
   padding-top: 30px;
}

   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{
   margin-top: 60px;
   padding-top: 20px;
}

#myCarousel .item{
   height: 400px;
}

.item h4{
   font-size: 30px;
}

#slide1 img{
   width: 100%;
   height: 100%;
}

#slide2 img{
   width: 100%;
   height: 100%;
}

#slide3 img{
   width: 100%;
   height: 100%;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.listgroup{
   color: white;
}

.listgroup a{
   color: inherit;
}

.listgroup a:hover{
   background-color: skyblue;
}

.listgroup h4{
   line-height: 10px;
}

.listgroup li{
   list-style: none;
}

.listgroup li a{
  color: black;
}

/*......................................
   Tab pane
.....................................*/

#tab1 iframe{
   text-align: center;
   padding-top: 20px;
   border:0
}

#tab1 a{
   margin-left:170px;
}
#tab1 p{
   line-height: 10px;
}

#tab2 img {
   margin-top: 20px;
   padding-bottom: 20px;
}

#tab2 p{
   text-align: justify;
}

.contact_dtls{
   padding-top: 30px;
   color: white;
}

.left_tab{
   z-index: 2;
   background-color: grey;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   .item h4{
      font-size: 10px;
   }

   #tab1 iframe{
   text-align: center;
}

   #tab2 img {
   margin-top: 20px;
   padding-bottom: 20px;
   padding-left: 120px;
   width: 150px;

}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


   #myCarousel .item {
    height: 310px;
   }
   .item h4{
      font-size: 30px;
   }

}

/* Large desktop */
@media (min-width: 1200px) {
   .item h4{
      font-size: 50px;
      color: grey;
   }
}

